[Unit]
Description=Greenclip agent
After=display-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/greenclip daemon
Restart=always
RestartSec=10
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
