# 1. Copy this to /etc/systemd/system/xkeysnail.service
# 2. systemctl enable xkeysnail
# https://github.com/bartosjiri/xkeysnail-macos
# https://qiita.com/samurai20000@github/items/2e1d779e806a7e8543d6
[Unit]
Description=xkeysnail

[Service]
KillMode=process
ExecStart=/usr/bin/sudo /usr/bin/xkeysnail --watch -q /home/claude/.config/xkeysnail/config.py
ExecStop=/usr/bin/sudo /usr/bin/killall xkeysnail
Type=simple
Restart=on-failure
RestartSec=5

# Update DISPLAY to be the same as `echo $DISPLAY` on your graphical terminal.
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
