[user]
	name = claude
	email = yunleiqi@gmail.com
	signingkey = 0564DE1F7D4EB7FD
[core]
	editor = vim
	pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
	excludesFile = ~/.config/git/.gitignore
[commit]
	gpgsign = true
[interactive]
	diffFilter = delta --color-only
[pull]
	rebase = false
[github]
	user = claude-ray
[credential]
	helper = cache
