registry=https://registry.npmjs.org/
init-license=MIT
init-version=0.0.1
init-author=claude-ray
save-prefix=^
loglevel=http
puppeteer_download_host=https://npm.taobao.org/mirrors
phantomjs_cdnurl=http://cdn.npm.taobao.org/dist/phantomjs
chromedriver_cdnurl=http://cdn.npm.taobao.org/dist/chromedriver
operadriver_cdnurl=http://cdn.npm.taobao.org/dist/operadriver
fse_binary_host_mirror=https://npm.taobao.org/mirrors/fsevents
sass_binary_site=http://cdn.npm.taobao.org/dist/node-sass
electron_mirror=http://cdn.npm.taobao.org/dist/electron/
