registry=https://registry.npmjs.org/
init-license=MIT
init-version=0.0.1
init-author=claude-ray
save-prefix=^
loglevel=http
# processes of notifier won't exit when offline before https://github.com/yeoman/update-notifier/pull/156
update-notifier=false
puppeteer_download_host=https://npm.taobao.org/mirrors
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs
chromedriver_cdnurl=https://npm.taobao.org/mirrors/chromedriver
operadriver_cdnurl=http://npm.taobao.org/mirrors/operadriver
fse_binary_host_mirror=https://npm.taobao.org/mirrors/fsevents
sass_binary_site=https://npm.taobao.org/mirrors/node-sass
electron_mirror=https://npm.taobao.org/mirrors/electron/
xprofiler_binary_host_mirror=https://npm.taobao.org/mirrors/xprofiler
